.advantages {
  min-height: 562px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $darkcol;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 111px;
  padding-left: 103px;
  padding-right: 103px;
  background-color: #e3ecf6;
  background-image: url("../img/advantages_desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.advantages h2 {
  margin-top: 0;
  margin-bottom: 35px;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
}

.advantages__list {
  max-width: 100%;
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

.advantages__item {
  width: 31%;
  padding: 30px;
  padding-top: 67px;
  padding-bottom: 6px;
  background-color: $lightcol;
  position: relative;
}

.advantages__item--check {
  padding-right: 50px;
}

.advantages__item:nth-child(2n) {
  margin-right: 40px;
  margin-left: 40px;
}

.advantages__description {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  position: relative;
  margin-bottom: 0;
  margin-top: 15px;
}

.advantages__description::before {
  content: "";
  position: absolute;
}

.advantages__description--ship::before {
  background-image: url("../img/icon-ship.svg");
  width: 27px;
  height: 32px;
  top: -55px;
}

.advantages__description--check::before {
  background-image: url("../img/icon-check.svg");
  width: 38px;
  height: 21px;
  top: -50px;
}

.advantages__description--boat::before {
  background-image: url("../img/icon-boat.svg");
  width: 42px;
  height: 15px;
  top: -47px;
}

.advantages__item p {
  margin-top: 8px;
}


@media (max-width: $tablet-width) {
  .advantages {
    padding-bottom: 86px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 91px;
    background-image: url("../img/advantages_tablet.png");
  }

  .advantages__item:nth-child(2n) {
    margin-right: auto;
    margin-left: auto;
  }

  .advantages h2 {
    font-size: 26px;
  }

  .advantages__description {
    margin-top: 17px;
  }

  .advantages__item {
    width: 30.4%;
    padding-right: 0;
    padding-left: 22px;
    padding-top: 50px;
    padding-bottom: 4px;
  }

  .advantages__item p {
    margin-top: 9px;
    line-height: 145%;
  }

  .advantages__description--ship::before {
    background-image: url("../img/icon-ship.svg");
    background-repeat: no-repeat;
    width: 22px;
    height: 26px;
    top: -44px;
  }

  .advantages__description--check::before {
    background-image: url("../img/icon-check.svg");
    background-repeat: no-repeat;
    width: 34px;
    height: 21px;
    top: -40px;
  }

  .advantages__description--boat::before {
    background-image: url("../img/icon-boat.svg");
    background-repeat: no-repeat;
    width: 38px;
    height: 15px;
    top: -38px;
  }

  .advantages__item--ship p {
    padding-right: 20px;
  }

  .advantages__item--boat p {
    padding-right: 10px;
  }

  .advantages__item--check {
    padding-right: 0;
  }
}

@media (max-width: $mobile-width) {
  .advantages {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 56px;
    padding-bottom: 25px;
    background-image: url("../img/advantages_mobile.png");
  }

  .advantages__item {
    width: auto;
    margin-bottom: 28px;
    padding-top: 55px;
  }

  .advantages__list {
    flex-direction: column;
  }

  .advantages h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .advantages__description--ship,
  .advantages__description--check {
    padding-right: 70px;
  }

  .advantages__description--boat p {
    padding-right: 0;
  }

  .advantages__description--check p {
    padding-right: 20px;
  }

  .advantages__item--boat p {
    padding-right: 15px;
  }

  .advantages__item--check p {
    padding-right: 0;
  }

  .advantages__description {
    line-height: 149%;
  }
}
