.booking {
  width: 100%;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: $darkcol;
  background-image: url("../img/form_background_desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.booking__wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1366px;
  min-height: 555px;
  padding-left: 163px;
  padding-right: 163px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.booking__info {
  min-width: 500px;
  margin-top: -19px;
}

.booking__info h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 6px;
}

.booking__info p {
  width: 360px;
  margin-top: 0;
}

form {
  width: 403px;
  height: 455px;
  padding-top: 26px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  background-color: $darkcol;
  color: $lightcol;
}

form ul {
  padding-left: 0;
  list-style: none;
}

form input {
  border-radius: 0;
  width: 100%;
  height: 43px;
  font-size: 14px;
  color: $darkcol;
  border: none;
  margin-bottom: 20px;
  padding-left: 15px;
}

input[type="email"] {
  margin-bottom: 6px;
}

label {
  font-size: 10px;
  line-height: 12px;
  position: relative;
  padding-left: 24px;
  margin-bottom: 30px;
  cursor: pointer;
}

input[type="submit"] {
  @include button;
  padding-left: 0;
  padding-right: 0;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active {
  opacity: 0.8;
}

form > p {
  margin-bottom: 8px;
}

input[type="checkbox"] {
  display: none;
}

label::before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: -3px;
  left: 0;
  background-color: $lightcol;
}

input[type="checkbox"]:checked + label::before {
  background-image: url("../img/icon-form-check.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: $tablet-width) {
  .booking {
    background-image: url("../img/form_background_tablet.jpg");
  }

  .booking__wrapper {
    min-height: 805px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 183px;
    padding-right: 182px;
    padding-top: 75px;
  }

  .booking__info h2 {
    text-align: center;
    font-size: 34px;
    margin-bottom: 0;
  }

  .booking__info p {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 53px;
  }
}

@media (max-width: $mobile-width) {
  .booking {

    background-image: url("../img/form_background_mobile.jpg");
  }

  .booking__wrapper {
    min-height: 760px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 58px;
  }

  .booking__info {
    min-width: 100%;
  }

  .booking__info h2 {
    text-align: center;
    font-size: 24px;
    line-height: 31px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .booking__info p {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 33px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

  form {
    width: 100%;
    min-height: 460px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }

  form > p {
    text-align: center;
  }

  .booking__info span {
    font-size: 0;
  }

  label {
    padding-left: 28px;
    margin-bottom: 26px;
  }

  input[type="email"] {
    margin-bottom: 0;
  }

  label::before {
    top: 1px;
  }
}
