.cruises {
  background-color: $lightcol;
  color: $darkcol;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  padding-top: 100px;
}

.cruises h2 {
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 28px;
}

.cruises ul {
  list-style: none;
  padding-left: 0;
}

.cruises__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cruises__item {
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
}

.cruises__item:nth-child(4n) {
  margin-right: 0;
}

.cruises__gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, $darkcol 100%);
}

.cruises__item > p {
  position: absolute;
  top: 323px;
  left: 30px;
  font-weight: 500;
  font-size: 18px;
  color: $lightcol;
}

.cruises__image {
  width: 260px;
  height: 386px;
  overflow: hidden;
}

.cruises__image img {
  width: 555px;
  position: relative;
  left: 0;
  bottom: 0;
}

.cruises__image--astoria img {
  width: 555px;
  left: -165px;
}

.cruises__image--atlantis img {
  width: 515px;
  left: -123px;
}

.cruises__image--odyssey img {
  width: 560px;
  left: -120px;
}

.cruises__image--olympia img {
  width: 560px;
  left: -120px;
}

.cruises__image--aurora img {
  width: 515px;
  left: -106px;
}

.cruises__image--leonor img {
  width: 515px;
  left: -145px;
}

.cruises__image--minion img {
  width: 696px;
  left: -176px;
}


.cruises__info {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $darkcol;
  color: $lightcol;
  text-align: left;
  padding-left: 25px;
}


.cruises__item:hover .cruises__info,
.cruises__item:focus .cruises__info,
.cruises__item:active .cruises__info {
  display: block;
}

.cruises__info h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin-top: 30px;
  margin-bottom: 15px;
}

.cruises__info h4 {
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 0;
}

.cruises__info p {
  margin-top: 0;
}

.cruises__button {
  width: 210px;
  height: 40px;
  margin-top: 10px;
  background-color: $lightcol;
  border: none;
  color: $darkcol;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.cruises__button:hover,
.cruises__button:focus,
.cruises__button:active {
  opacity: 0.8;
}

@media (max-width: $tablet-width) {
  .cruises {
    padding-top: 80px;
  }

  .cruises h2 {
    font-size: 26px;
  }

  .cruises__image {
    width: 309px;
    height: 386px;
  }

  .cruises__item:nth-child(2n) {
    margin-right: 0;
  }

  .cruises__item > p {
    top: 320px;
    left: 35px;
  }

  .cruises__image--astoria img {
    left: -142px;
  }

  .cruises__image--atlantis img {
    left: -100px;
  }

  .cruises__image--odyssey img {
    width: 600px;
    top: 3px;
    left: -106px;
  }

  .cruises__image--olympia img {
    width: 600px;
    left: -145px;
    top: -2px;
  }

  .cruises__image--aurora img {
    width: 515px;
    left: -103px;
  }

  .cruises__image--leonor img {
    height: 380px;
    width: 577px;
    left: -159px;
  }

  .cruises__image--minion img {
    width: 823px;
    height: 524px;
    left: -209px;
  }

  .cruises__info {
    padding-left: 35px;
  }

  .cruises__button {
    width: 240px;
  }
}

@media (max-width: $mobile-width) {
  .cruises {
    padding-top: 48px;
  }

  .cruises h2 {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .cruises__image {
    width: 270px;
  }

  .cruises__item {
    margin-right: 0;
  }

  .cruises__info {
    padding-left: 25px;
  }

  .cruises__item > p {
    top: 327px;
    left: 25px;
  }

  .cruises__button {
    width: 220px;
  }

  .cruises__image--astoria img {
    left: -162px;
  }

  .cruises__image--atlantis img {
    left: -123px;
  }

  .cruises__image--odyssey img {
    width: 540px;
    height: 450px;
    top: 0;
    left: -100px;
  }

  .cruises__image--olympia img {
    width: 531px;
    height: 459px;
    left: -131px;
    top: -7px;
  }

  .cruises__image--aurora img {
    height: 386px;
    width: 518px;
    left: -124px;
    top: 0;
  }

  .cruises__image--leonor img {
    height: 386px;
    width: 540px;
    left: -154px;
    top: 0;
  }

  .cruises__image--minion img {
    width: 735px;
    height: 524px;
    top: -1px;
    left: -189px;
  }
}
