.footer-menu {
  margin-right: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
}

.footer-menu__item {
  padding-right: 34px;
}

.footer-menu__item a {
  text-decoration: none;
  color: $lightcol;
}

.footer-menu__item a:hover,
.footer-menu__item a:focus,
.footer-menu__item a:active {
  opacity: 0.8;
}

@media (max-width: $tablet-width) {
  .footer-menu {
    min-width: 0;
  }

  .footer-menu__item {
    padding-right: 23px;
  }
}

@media (max-width: $mobile-width) {
  .footer-menu {
    padding-left: 0;
    margin-top: 24px;
    margin-bottom: 18px;
    flex-direction: column;
    flex-grow: 1;
  }

  .footer-menu__item {
    margin-bottom: 17px;
  }

  .footer-menu__item:nth-last-child(1) {
    margin-bottom: 0;
  }
}
