.journey {
  width: 100%;
  font-family: "Montserrat", "Arial", sans-serif;
  color: $darkcol;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  background-color: $lightcol;
}

.journey__wrapper {
  min-height: 540px;
  min-width: 512px;
  max-width: 1366px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 120px;
  padding-bottom: 113px;
  padding-left: 103px;
  padding-right: 103px;
  display: flex;
}

.journey__image {
  margin-left: 88px;
}


.journey__description {
  flex-basis: 512px;
  padding-top: 34px;
}

.journey__description h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
}

@media (max-width: $tablet-width) {
  .journey__wrapper {
    max-width: 768px;
    min-height: 464px;
    padding-top: 100px;
    padding-bottom: 78px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .journey__image {
    margin-left: 30px;
  }

  .journey__image img {
    width: 324px;
    height: 264px;
  }

  .journey__description {
    flex-basis: 324px;
    padding-top: 0;
  }

  .journey h2 {
    font-weight: 600;
    font-size: 26px;
    line-height: 140%;
    margin-top: -10px;
    margin-bottom: 0;
  }
}

@media (max-width: $mobile-width) {
  .journey__wrapper {
    min-width: 320px;
    padding-top: 67px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 60px;
    flex-direction: column;
  }

  .journey__image {
    margin-left: auto;
    margin-right: auto;
  }

  .journey__image img {
    width: 290px;
    height: 186px;
  }

  .journey__description {
    flex-basis: auto;
    padding-top: 0;
    margin-bottom: 17px;
  }

  .journey h2 {
    font-weight: 600;
    font-size: 24px;
    margin-top: -10px;
    margin-bottom: 0;
  }
}
