.map {
  min-height: 546px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: $darkcol;
  background-color: $lightcol;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding-left: 103px;
  padding-right: 103px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map__list {
  list-style: none;
  margin-top: 35px;
  padding-left: 28px;
}

.map__iframe {
  width: 100%;
}

.map__image {
  min-width: 560px;
  height: 306px;
  margin-right: 100px;
  background-image: url("./../../img/map_desktop_mark.jpg");
  background-repeat: no-repeat;
}

.map__questions {
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
}

.map__item--adress {
  position: relative;
  margin-bottom: 20px;
}

.map__item--call {
  position: relative;
}

.map__item--adress::before {
  content: "";
  width: 18px;
  height: 22px;
  position: absolute;
  top: 0;
  left: -28px;
  z-index: 10;
  background-image: url("./../../img/icon-mark.svg");
}

.map__item--call::before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 4px;
  left: -28px;
  z-index: 10;
  background-image: url("./../../img/icon-call.svg");
}

@media (max-width: $tablet-width) {
  .map {
    min-height: 535px;
    padding-right: 45px;
    padding-left: 45px;
  }

  .map__image {
    min-width: 324px;
    height: 335px;
    margin-right: 30px;
    background-image: url("./../../img/map_tablet_mark.jpg");
    background-repeat: no-repeat;
  }

  .map__questions {
    margin-top: 23px;
  }
}

@media (max-width: $mobile-width) {
  .map {
    min-height: 703px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 65px;
    flex-direction: column;
    justify-content: flex-end;
  }

  .map__image {
    min-width: 290px;
    height: 316px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 19px;
    background-image: url("./../../img/map_tablet_mark.jpg");
    background-repeat: no-repeat;
    order: 2;
  }

  .map__questions {
    margin-top: 29px;
    line-height: 27px;
  }

  .map__list {
    margin-top: 29px;
  }
}
