.page-footer {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: $darkcol;
  padding-top: 33px;
  padding-bottom: 33px;
}

.page-footer__wrapper {
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 7.7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer ul {
  list-style: none;
}

.page-footer__logo:hover,
.page-footer__logo:focus,
.page-footer__logo:active {
  opacity: 0.8;
}

@media (max-width: $tablet-width) {
  .page-footer {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 12px;
    line-height: 15px;
  }

  .page-footer__wrapper {
    padding: 0 45px;
  }

  .page-footer__logo img {
    width: 38px;
    height: 20px;
  }

  .page-footer__menu {
    padding-left: 25px;
  }
}

@media (max-width: $mobile-width) {
  .page-footer {
    padding-top: 0;
    padding-bottom: 0;
  }

  .page-footer__wrapper {
    min-height: 283px;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 15px;
    flex-direction: column;
    align-items: flex-start;
  }

  .page-footer__logo img {
    width: 42px;
    height: 22px;
  }
}

@media (min-width: 1375px) {
  .page-footer__wrapper {
    padding-left: 104px;
    padding-right: 117px;
  }
}
