.page-header {
  min-height: 650px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: $lightcol;
  background-image: url("../img/background_desktop.jpg");
  background-color: $darkcol;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/background_desktop_2x.jpg");
  }
}

.page-header__toggle--open {
  width: 25px;
  height: 20px;
  position: absolute;
  top: 24px;
  right: 14px;
  border: none;
  background-image: url("../img/icon-menu.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}

.page-header__toggle--close {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 24px;
  right: 14px;
  border: none;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-color: transparent;
}

.page-header__toggle {
  display: none;
}

.page-header__toggle:hover,
.page-header__toggle:focus,
.page-header__toggle:hover:active {
  opacity: 0.8;
}

.page-header ul {
  list-style: none;
}

.page-header__top-block {
  padding-top: 30px;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
}

.page-header__tours {
  max-width: 71%;
  margin-left: auto;
  margin-right: auto;
}

.page-header__top-block a {
  text-decoration: none;
  color: $lightcol;
}

.page-header__top-block a:active,
.page-header__top-block a:focus,
.page-header__top-block a:hover {
  opacity: 0.8;
}

.page-header__tours h1 {
  font-weight: bold;
  font-size: 54px;
  line-height: 66px;
  margin-top: 188px;
  margin-bottom: 12px;
}

.page-header__tours p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-top: 0;
}

.page-header__logo--mobile-menu {
  display: none;
}

@media (max-width: $tablet-width) {
  .page-header {
    min-height: 638px;
    background-image: url("../img/background_tablet.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/background_tablet_2x.jpg");
    }
  }

  .page-header__top-block {
    max-width: 100%;
    margin-left: 45px;
    margin-right: 45px;
    padding-top: 18px;
    font-size: 14px;
    line-height: 17px;
  }

  .page-header__logo img {
    width: 38px;
    height: 20px;
  }

  .page-header__tours {
    max-width: 100%;
  }

  .page-header__tours h1 {
    font-size: 50px;
    line-height: 61px;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 205px;
    margin-bottom: 12px;
  }

  .page-header__tours p {
    margin-left: 45px;
    margin-right: 45px;
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    min-height: 800px;
    background-image: none;
    padding-bottom: 0;
  }

  .page-header--activeJS {
    min-height: 500px;
    background-image: url("../img/background_mobile.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/background_mobile_2x.jpg");
    }
  }

  .page-header__logo {
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 29px;
    height: 39px;


    img {
      width: 42px;
      height: 22px;
    }
  }

  .page-header__logo--white {
    display: none;
  }

  .page-header__logo--mobile-menu {
    display: block;
    margin-bottom: 41px;
  }

  .page-header__top-block {
    min-height: 299px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    background-color: #e5e5e5;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    z-index: 10;

    a {
      color: $darkcol;
    }
  }

  .page-header__menu {
    margin-top: 0;
  }

  .page-header__tours {
    background-image: url("../img/background_mobile.jpg");
    background-size: cover;
    min-height: 500px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/background_mobile_2x.jpg");
    }
  }

  .page-header__tours h1 {
    font-weight: 700;
    font-size: 36px;
    white-space: pre-wrap;
    line-height: 125%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0;
    padding-top: 174px;
    margin-bottom: 12px;
  }

  .page-header__tours p {
    font-weight: 400;
    font-size: 16px;
    white-space: pre-wrap;
    line-height: 140%;
    margin-left: 15px;
  }

  .page-header__tours--activeJS {
    min-height: 0;
    background-image: none;

    h1 {
      margin-top: -123px;
      padding-top: 0;
    }
  }
}
