@mixin button {
  display: table-cell;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  background-color: $lightcol;
  font-family: "Montserrat", "Arial", sans-serif;
  border: none;
  color: $darkcol;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
