@import "fonts.scss";
@import "variables.scss";
@import "general.scss";
@import "blocks/page-header.scss";
@import "blocks/header-menu.scss";
@import "blocks/page-footer.scss";
@import "blocks/footer-menu.scss";
@import "blocks/socials.scss";
@import "blocks/journey.scss";
@import "blocks/advantages.scss";
@import "blocks/cruises.scss"
